body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url("images/banner5.jpg");
	background-size: cover;
	font-family: consolas;
	box-sizing: border-box;
}
a
{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 50px;
	overflow: hidden;
	transition: 0.5s;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
a:hover
{
	color: #fff;
	background: 	#FF69B4;
	box-shadow: 0 0 5px #FF69B4,0 0 25px #0000FF,0 0 50px 	#FF69B4;
	transition-delay: 1s;
}
a span
{
	position: absolute;
	display: block;
}
a span:nth-child(1)
{
	top:0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,	#FF69B4);
}
a:hover span:nth-child(1)
{
	left: 100%;
	transition: 1s;
}
a span:nth-child(3)
{
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,	#FF69B4);
}
a:hover span:nth-child(3)
{
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
a span:nth-child(2)
{
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,	#FF69B4);
}
a:hover span:nth-child(2)
{
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
a span:nth-child(4)
{
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,	#0000FF);
}
a:hover span:nth-child(4)
{
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}