<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  </head>
  <body data-spy="scroll" date-target=".navbar" data-offset="50">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">TSA</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">HOME<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">EXPLORE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">TWEET</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ABOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="jumbotron jumbotron-fluid height100p banner" id="home">
      <div class="container h100">
        <div class="contentBox h100">
          <div>
            <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Tweet Analysis</h1>
            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">The model predicts the entered tweet is positive or negative or netural according to the pre-trained data-set.</p>
          </div>
        </div>
      </div>
    </div>
    <section class="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="headerText text-center">
              <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">ENTER TWEET</h2>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="offset-sm-2 col-sm-8">
            <form action="{{ url_for('prediction')}}" method="POST" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
              <div class="form-group text-center">
                <textarea class="form-control textarea" name="firstname" id="fname"></textarea>
              </div>
              <div class="form-group text-center">
                <br>
                <input class="btn btnD4" type="submit" value="PREDICT">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="sci">
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i><!--use fontawesome icon -->
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i><!--use fontawesome icon -->
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus"></i><!--use fontawesome icon -->
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i><!--use fontawesome icon -->
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram"></i><!--use fontawesome icon -->
                </a>
              </li>
            </ul>
            <p class="cpryt">© Copyright 2020 AMFR | Template by <a href="#">sairaj</a></p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript">
      $(document).scroll(function(){
        $('.navbar').toggleClass('scrolled', $(this).scrollTop() > $('.navbar').height());
      });
    </script>
  </body>
</html>